.web .route-terms {
	--background: transparent none;
	--ion-color-white: transparent;
}

.web .route-terms .ion-padding {
	position: fixed;
	left: 50%;
	top: 50px;
	bottom: 50px;
	width: 560px;
	margin-left: -280px;
	background-color: #fff;
	border-radius: var(--okx-box-radius);
	box-shadow: 0 0 32px rgba(0,0,0,0.25);
}

.web .route-terms .ion-padding > div {
	overflow-y: auto;
	max-height: 100%;
	padding-right: 8px;
}
