.toggle {
    display: flex;
    flex-direction: column;
}

.web .static.route-register {
	background-image: url(../../assets/images/refer-a-friend.jpg);
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-size: 100% auto;
}
.web ion-content.route-register {
	background-image: url(../../assets/images/refer-a-friend.jpg);
	background-repeat: no-repeat;
	background-position: 100% 0px;
	background-size: 100% auto;
}

.web #main > ion-content.route-register {
	z-index: 5;
}

.web #main > ion-content.route-register > .ion-padding {
	position: relative;
	/* width: 50%; */
	/* max-width: 400px;
	min-width: 280px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto; */
	background-color: #fff;
	border-radius: var(--okx-box-radius);
	box-shadow: none;
	padding: 48px 64px 48px;
	min-height: 630px;
	max-height: 75%;
	top: 50%;
	transform: translate(0%, -45%);
	overflow-y: auto;
	margin-top: 5px;
}

.web #main > ion-content.route-register > .ion-padding > .absolute-content {
	padding: 48px 64px 48px;
}


@media screen and (min-width: 1441px) {
	.web #main > ion-content.route-register > .ion-padding {
		min-height: 650px;
		max-height: 65%;
	}
}

@media screen and (max-height: 720px) {
	.web #main > ion-content.route-register > .ion-padding {
		min-height: calc(100% - 125px);
		box-shadow: none;
	}	
}
